// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
ion-icon {
  &[class*="custom-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    width: 2em;
    height: 2em;

  }

  &[class*="custom-logo-nerit"] {
    mask-image: url(../assets/imgs/logo-nerit.svg);
    width: 3em;
    height: 3em;
    margin-left: 2em;
  }

  &[class*="custom-darth-vader"] {
    mask-image: url(../assets/icon/darthvader.svg);
  }

  &[class*="custom-naruto"] {
    mask-image: url(../assets/icon/naruto.svg);
  }

  &[class*="custom-xfiles"] {
    mask-image: url(../assets/icon/xfiles.svg);
  }

  &[class*="custom-glasses"] {
    mask-image: url(../assets/icon/turndownforwhat.svg);
  }

  &[class*="custom-formula1"] {
    mask-image: url(../assets/icon/formula1.svg);
  }

  &[class*="custom-globo"] {
    mask-image: url(../assets/icon/globo.svg);
  }

  &[class*="custom-spy"] {
    mask-image: url(../assets/icon/spy.svg);
  }

  &[class*="custom-sheriff"] {
    mask-image: url(../assets/icon/sheriff.svg);
  }

  &[class*="custom-bench"] {
    mask-image: url(../assets/icon/bench.svg);
  }

  &[class*="custom-error"] {
    mask-image: url(../assets/icon/error.svg);
  }

  &[class*="custom-fire"] {
    mask-image: url(../assets/icon/fire.svg);
  }

  &[class*="custom-cowboy-hat"] {
    mask-image: url(../assets/icon/cowboyHat.svg);
  }

  &[class*="custom-harry-potter"] {
    mask-image: url(../assets/icon/harrypotter.svg);
  }
  &[class*="custom-harry-potter-logo"] {
    mask-image: url(../assets/icon/harryPotterlogo.svg);
  }
  &[class*="custom-goku"] {
    mask-image: url(../assets/icon/goku.svg);
  }
  &[class*="custom-R2D2"] {
    mask-image: url(../assets/icon/R2D2.svg);
  }
  &[class*="custom-drum"] {
    mask-image: url(../assets/icon/Drum.svg);
  }
  &[class*="custom-titanic"] {
    mask-image: url(../assets/icon/titanic.svg);
  }
  &[class*="custom-continued"] {
    mask-image: url(../assets/icon/continued.svg);
  }
  &[class*="custom-soccer"] {
    mask-image: url(../assets/icon/soccer.svg);
  }
  &[class*="custom-ox"] {
    mask-image: url(../assets/icon/ox.svg);
  }
  &[class*="custom-castle-crashed"] {
    mask-image: url(../assets/icon/castle.svg);
  }
  &[class*="custom-star"] {
    mask-image: url(../assets/icon/star.svg);
  }
  &[class*="custom-circus"] {
    mask-image: url(../assets/icon/circus.svg);
  }
  &[class*="custom-sam"] {
    mask-image: url(../assets/icon/sam.svg);
  }
  &[class*="custom-spongebob"]{
    mask-image: url(../assets/icon/spongebob.svg);
  }
  &[class*="custom-sponge"]{
    mask-image: url(../assets/icon/sponge.svg);
  }
  &[class*="custom-sponge2"]{
    mask-image: url(../assets/icon/sponge2.svg);
  }
  &[class*="custom-box"]{
    mask-image: url(../assets/icon/box.svg);
  }
  &[class*="custom-tiger"]{
    mask-image: url(../assets/icon/tiger.svg);
  }
}
